{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="bg-dark container-fluid">
    <div class=" bg-dark  container" style="margin-top: 55px; ">
        <div>
            <div>
                <img src="https://pbs.twimg.com/media/Dgtel0XU0AERQDl.jpg" style="width:45%;  margin: 5px;">

                <img src="https://pbs.twimg.com/media/Dgtel0XU0AERQDl.jpg" style="width: 45%; margin: 5px;">
            </div>
        </div>
        <p style="color:#DCDCDC">{{ pp.culture}}</p>
    </div>
</div>
{% endblock content %}